{% extends "bootstrap/base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href={{url_for('static', filename='bootstrap.min.css')}} />
{% endblock %}
    
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Authentication and Bootstrap</a>
      </div>
      <ul class="nav navbar-nav">
        {% if request.path=="/" %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ url_for('main.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        {% if request.path=="/profile" %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ url_for('main.profile') }}">Profile</a></li>
        {% endif %}
        {% if not current_user.is_authenticated %}
        {% if request.path=="/login" %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ url_for('auth.login') }}">Login</a></li>
        {% if request.path=="/signup" %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</nav>
{% endblock %}